body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Поки ставимо базовий шрифт */
    color:#333;
}

/* 2. Налаштовуємо сам хедер */
header {
    display: flex; 
    justify-content: space-between; /* Розсовуємо Лого, Меню і Профіль по краях */
    padding: 20px 160px; /* Відступи: 20px зверху/знизу, 50px з боків */
    background-color: #ffffff; 
    border-bottom: 1px solid #eaeaea; 
}

/* 3. Налаштовуємо розмір логотипу */
.Logo img {
    height: 200px; 
    width: 250;
    padding:20px 0px 0px 40px ;

}

/* 4. Налаштовуємо обидва списки <ul> (Меню і Профіль) */
header ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding:16px 50px;
    gap: 40px; /* Відстань між словами "Головна", "Про нас" тощо */
    align-items: center;
    letter-spacing: 0%;
    line-height: 100%;
font-weight: 500;

}

/* 5. Налаштовуємо зовнішній вигляд посилань <a> */
header a {
    text-decoration: none; 
    color: #000000; 
   font-family:'Inter',sans-serif;
    font-size: 18px;
    font-weight: 500; 
    line-height: 100%;
    transition: color 0.3s ease; /* Додаємо плавність для наведення */
}

/* 6. Кнопка */
header button {
    background: none; 
    border: none; 
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit; 
    cursor: pointer; 
    padding: 0;
}
/* посилання "Профіль" */
.profile-link {
    display: flex; 
    align-items: center; 
    gap: 4px; 
}

/* Налаштовуємо саму іконку, щоб вона не була гігантською */
.profile-icon {
    width: 16px; 
    height: 18px;
    object-fit: contain;
}


/* 7. Додаємо ефект: при наведенні мишки текст стає коричневим (колір з макету) */
header a:hover,
header button:hover {
    color: #612a26;
}

